body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-feature-settings: 'calt' off;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./RobotoMono-var.ttf') format('truetype');
  font-weight: 100 1000;
}
