body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  minWidth: 375px;
}

.content {
  padding: 24px;
}

.field {
  width: 99%;
}

.form {
  width: 600px;
  margin: 'auto';
}

.logo {
  width: 130px;
  height: 40px;
  padding: 10px;
}

.props {
  marginBottom: 12px;
}

.section {
  paddingBottom: 42px;
}

.time {
  fontSize: 14px;
  fontStyle: 'italic';
}

.title {
  fontSize: 22px;
}

